body,
html {
  height: 100%;
  width: 100%;
  background-color: #111;
}

@font-face {
  font-family: 'ChristmasLightsOutdoor';
  src: url('../fonts/christmas_lights_outdoor/ChristmasLightsOutdoor.woff') format('woff'),
       url('../fonts/christmas_lights_outdoor/ChristmasLightsOutdoor.ttf') format('truetype'),
       url('../fonts/christmas_lights_outdoor/ChristmasLightsOutdoor.svg#SingleSleeve') format('svg'),
       url('../fonts/christmas_lights_outdoor/ChristmasLightsOutdoor.eot'),
       url('../fonts/christmas_lights_outdoor/ChristmasLightsOutdoor.woff2') format('woff2'),
       url('../fonts/christmas_lights_outdoor/ChristmasLightsOutdoor.eot?#iefix') format('embedded-opentype');
}

.christmasLightsFont {
	font-family: 'ChristmasLightsOutdoor';
}

.loader {
	width: 100%;
	height:auto;
	position: fixed;
	left: 0%;
	top: 20%;
	opacity: 1;
}

.loaderGif {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0; 
}

.playing, .pulseWrapper {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0; 
	white-space: nowrap;
    text-align: center;
}

.playing img, .pulseWrapper img {
    vertical-align: middle;
    width: 30%;
    height: auto;
}

.playing .helper, .pulseWrapper .helper {
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.snow {
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* Pulse */

.container {
  width: 200px;
  height: 100%;
  margin: 0 auto 0;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  background: #fff;
}

.pulse-button {
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
  display: block;
  width: 300px;
  height: 300px;
  font-size: 40px;
  font-family: 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 100px;
  color: white;
  border: none;
  border-radius: 50%;
  background: crimson;
  line-height: 300px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.5);
  -moz-box-shadow:    0px 0px 0px 0px rgba(255, 255, 255, 0.5);
  box-shadow:         0px 0px 0px 0px rgba(255, 255, 255, 0.5);
  -webkit-animation: pulse 2.5s infinite;
  -webkit-transition: 	opacity 2.5s ease-in-out;
  -moz-transition: 		opacity 2.5s ease-in-out;
  -ms-transition: 		opacity 2.5s ease-in-out;
  -o-transition: 		opacity 2.5s ease-in-out;
  transition: 			opacity 2.5s ease-in-out;
}

.opacityZero {
	opacity: 0;
}

@-webkit-keyframes pulse {
  0% {
  	-ms-transform: 		scale(.8); /* IE 9 */
    -webkit-transform: 	scale(.8); /* Safari */
    transform: 			scale(.8); /* Browsers without retardation */
  }
  70% {
  	-ms-transform: 		scale(1); /* IE 9 */
    -webkit-transform: 	scale(1); /* Safari */
    transform: 			scale(1); /* Browsers without retardation */
    -webkit-box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0);
    -moz-box-shadow:    0px 0px 0px 50px rgba(255, 255, 255, 0);
    box-shadow:         0px 0px 0px 50px rgba(255, 255, 255, 0);
  }
    100% {
    -ms-transform: 		scale(.8); /* IE 9 */
    -webkit-transform: 	scale(.8); /* Safari */
    transform: 			scale(.8); /* Browsers without retardation */
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    -moz-box-shadow:    0px 0px 0px 0px rgba(255, 255, 255, 0);
    box-shadow:         0px 0px 0px 0px rgba(255, 255, 255, 0);
  }
}